@using CommonLayer.ViewModels
@model List<CategoryViewModel>

<div class="container">
    <h2>Categories</h2>
    <div class="row mb-2">
        <div class="col-sm-4 text-center">
            <a class="btn btn-primary btn-block" href="@Url.Action("Add")">Add new Category</a>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>@nameof(CategoryViewModel.Name)</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @if (Model == null || Model.Count < 1)
        {
            <tr>
                <td colspan="3">No data</td>
            </tr>
        }
        else
        {
            foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td><a class="btn btn-warning btn-block" href="@Url.Action("Edit")?id=@category.Id"><i class="bi bi-file-earmark-binary-fill"></i></a></td>
                    <td><a class="btn btn-danger btn-block" href="@Url.Action("Delete")?id=@category.Id"><i class="bi bi-trash-fill"></i></a></td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
@section Scripts
{
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const menuItems = document.getElementById('header-menu').children;
            for (const item in menuItems) {
                console.log(menuItems[item]);
                if (menuItems[item].children != undefined)
                menuItems[item].classList.remove('active');
            }
            document.getElementById('nav-item-category').classList.add('active');
        });
    </script>
}
